@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

@theme {
  --font-sans: "Comic Neue", "Comic Sans MS", cursive, sans-serif;
}
.animate-fade-in {
  animation: fade-in 0.8s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
